# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.pyc

# Other common ignores
*.log
.DS_Store  # Optional, for macOS users
*.env      # Environment variables
node_modules/
mongo/data/
mongo/logs/
*.txt
redundancy-report.json
error-summary.json